
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
        <h1 class="page-title">MEET ATTORNEYS TEAM</h1>
        <!-- /.section-title -->
      </div>
    </div>
    <div class="row">
      <!-- team-block -->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
        <div data-aos="fade-up" class="team-block active">
          <div class="team-img">
            <a href="#">
              <img src="https://scontent.fcmb3-1.fna.fbcdn.net/v/t1.0-9/22089580_522341941438579_3751914794102094316_n.jpg?_nc_cat=0&oh=18245067473f1513d7b63e702e0359a3&oe=5B5D130A">
              <div class="social-media">
                <a href="#" class="social-icon-box"><i class="fa fa-facebook-f"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-twitter"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-google-plus"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-pinterest-p"></i></a>
              </div>
            </a>
          </div>
          <div class="team-content">
            <h4>Tharaka Cz</h4>
          </div>
        </div>
      </div>
      <!-- /.team-block -->
      <!-- team-block -->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
        <div data-aos="fade-up" class="team-block">
          <div class="team-img">
            <a href="#">
              <img src="https://scontent.fcmb3-1.fna.fbcdn.net/v/t1.0-9/13502006_606784466146321_2583002361809641988_n.jpg?_nc_cat=0&oh=b7f372f14ec8a00ac1bf2adae03724e1&oe=5B9B3F6E" class="img-fluid">
              <div class="social-media">
                <a href="#" class="social-icon-box"><i class="fa fa-facebook-f"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-twitter"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-google-plus"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-pinterest-p"></i></a>
              </div>
            </a>
          </div>
          <div class="team-content">
            <h4>Lahiru Samishka </h4>
          </div>
        </div>
      </div>
      <!-- /.team-block -->
      <!-- team-block -->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
        <div data-aos="fade-up" class="team-block">
          <div class="team-img">
            <a href="#">
              <img src="https://scontent.fcmb3-1.fna.fbcdn.net/v/t1.0-9/14102147_853983038066479_2322035548485756215_n.jpg?_nc_cat=0&oh=ebbb2d5d7e5afa8e5ce68736a84457f2&oe=5B87FA54" alt="" class="img-fluid">
              <div class="social-media">
                <a href="#" class="social-icon-box"><i class="fa fa-facebook-f"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-twitter"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-google-plus"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-pinterest-p"></i></a>
              </div>
            </a>
          </div>
          <div class="team-content">
            <h4>Anurada Ranasinghe</h4>
          </div>
        </div>
      </div>
      <!-- /.team-block -->
      <!-- team-block -->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
        <div data-aos="fade-up" class="team-block">
          <div class="team-img">
            <a href="#">
              <img src="https://scontent.fcmb3-1.fna.fbcdn.net/v/t1.0-9/22730481_101815240587165_7530797713225951212_n.jpg?_nc_cat=0&oh=e8079967368768c580ecd8d1b8e05355&oe=5B5D8995" alt="" class="img-fluid">
              <div class="social-media">
                <a href="#" class="social-icon-box"><i class="fa fa-facebook-f"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-twitter"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-google-plus"></i></a>
                <br>
                <a href="#" class="social-icon-box"><i class="fa fa-pinterest-p"></i></a>
              </div>
            </a>
          </div>
          <div class="team-content">
            <h4>Nisansala</h4>
          </div>
        </div>
        <!-- /.team-block -->
      </div>

    </div>
  </div>
</div>
<hr class="my-4">
