<h2> Our Progress </h2><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
        <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
        <div class="progress-value">90%</div>
      </div>
      <br>
      <h3>Customer Satisfay</h3>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
        <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
        <div class="progress-value">75%</div>
      </div>
      <br>
      <h3 class="dilivery">Dilivery Rate</h3>
    </div>


  </div>
</div>
<hr class="my-4">
