<!--Navigation Bar-->
<app-navbar></app-navbar>

<!--Routing Area-->
<router-outlet></router-outlet>

<!--Slider-->
<app-slider></app-slider>

<!--Jumbotrone-->
<app-jumbotrone></app-jumbotrone>

<!--Welcome Banner-->
<app-welcome-section></app-welcome-section>

<!--Ouer Gole-->
<app-gole></app-gole>

<!--Section-->
<app-section></app-section>

<!--Fixed Area-->
<app-fixed-area></app-fixed-area>

<!--Team-->
<app-team></app-team>

<!--Proggress-->
<app-proggress></app-proggress>

<!--Philosopy-->
<app-philosophy></app-philosophy>

<!--Gig Slider-->
<app-gig-slider></app-gig-slider>

<!--Connect-->
<app-connect></app-connect>

<!--Comment-->
<app-comments></app-comments>

<!--About Us-->
<app-about-us></app-about-us>

<!--Footer-->
<app-footer></app-footer>
