/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
.footer1 {
  padding: 0;
  bottom: 0%;
  margin: 0;
}
