.container{
  width: 100%;
  height: 720px;
  background-color: white;
  z-index: 5;

}
.register-form{

}

.btn{
  width: 15%;
  height: 50px;
  font-weight: bold;
  left: 42%;
  position: absolute;
}
