<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="http://www.eatlogos.com/all_free_logos/png/vector_blue_eagle_logo.png" alt="">
      Ferniture Sales Rental
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="home-page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="gigs">Gigs</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="">log</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="register">Sign-in</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore Offerings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Living Room</a>
            <a class="dropdown-item" href="#">Bed Room</a>
            <a class="dropdown-item" href="#">Bed Room</a>
            <a class="dropdown-item" href="#">Super Value Combos</a>
            <a class="dropdown-item" href="#">Dining Room</a>
            <a class="dropdown-item" href="#">Study Room</a>
            <a class="dropdown-item" href="#">Kids Room</a>
            <a class="dropdown-item" href="#">Storege</a>

            <!--<div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>-->
          </div>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu">
            <li>
              <div class="row">
                <div class="col-md-12">
                  Sign-in
                  <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputEmail2">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputPassword2">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                      <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> keep me logged-in
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#" routerLink="" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><i class="fas fa-user-secret"></i>  Admin Login</a>-->
          <!--<div id="id01" class="modal">-->

            <!--<form class="modal-content animate" action="/action_page.php">-->
              <!--<div class="imgcontainer">-->
                <!--<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>-->
                <!--<img src="https://i.pinimg.com/originals/67/70/a3/6770a3fa9bdcc1bd33770106cd70fb22.png" alt="Avatar" class="avatar"><br>-->
                <!--<h2>Furni Rent Admin Login</h2>-->
              <!--</div>-->

              <!--<div class="container">-->
                <!--<form class="admin">-->
                <!--<label formGroupName="name"><b>Username</b></label>-->
                <!--<input type="text" #name class="form-control" placeholder="Enter Username" name="name" required="">-->

                <!--<label formGroup="password"><b>Password</b></label>-->
                <!--<input type="password" #password class="form-control" placeholder="Enter Password" name="password" required="" >-->
                <!--<div class="action">-->
                  <!--<button type="submit" class="btn btn-primary" (click)="AdminLogin()">Login</button>-->
                  <!--<label>-->
                    <!--<input type="checkbox" checked="checked" name="remember"> Remember me-->
                  <!--</label>-->
                <!--</div>-->
                <!--</form>-->
              <!--</div>-->

              <!--<div class="container" style="background-color:#f1f1f1">-->
                <!--<button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger cancel">Cancel</button>-->
                <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
              <!--</div>-->
            <!--</form>-->
          <!--</div>-->
        <!--</li>-->
        <li class="nav-item" >
          <a class="nav-link" routerLink="admin-login"><i class="fas fa-user-secret"></i>  Admin-Login</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


</div>

<!--<script>-->
  <!--// Get the modal-->
  <!--var modal = document.getElementById('id01');-->

  <!--// When the user clicks anywhere outside of the modal, close it-->
  <!--window.onclick = function(event) {-->
    <!--if (event.target == modal) {-->
      <!--modal.style.display = "none";-->
    <!--}-->
  <!--}-->
<!--</script>-->
