.margin-about{
  margin: 0;
}

.parallax-about{
  background: url("http://www.hdwallpapers20.com/wp-content/uploads/2015/06/birds-flying-in-cloudy-sky-hd-wallpapers.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
}

.parallax-inner-about{
  padding-top: 25%;
  padding-bottom: 25%;
  max-width: 100%;
  min-width: 100%;
}

h2{
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: white;
}
p{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 50px;

}
