<div class="margin-about"></div>
<section class="parallax-about">
  <div class="parallax-inner-about">
    <h2> About Us </h2><br><br>
    <p> We are IJSE (Institute Of Java Softwear Engineering) Students</p>
    <br>
    <br>
    <p>ABSD Anjular CLI Project 2k18 DIV-10 TEAM</p>
    <p>Team Leader : Anurada Ranasinghe</p>
    <p>Devoloper   : Tharaka Cz</p>
    <p>Devoloper   : Lahiru Samishka</p>
    <p>Devoloper   : Nisansala Sanjeewani</p>
    <br>
    <br>
    <br>
    <br>
    <p> Copyright&copy;IJSE-GDSE-44 Gall Branch Students</p>

  </div>
</section>
<div class="margin-about"></div>
<hr class="my-4">
