<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>Our Philosophy</h2>
      <p>Uniqueness, modern style and a vocation for Made in Italy are the founding values of the Visionnaire brand, which has been able to rapidly gain leadership on the international luxury design scene, no longer understood as merely a furnishing project, but rather as the offer of a “total look” customized in every detail. Careful observation of the world, of the continual evolution of modern society and culture are at the heart of Visionnaire’s creativity and modernity. It is precisely as a result of this cosmopolitan approach that the brand has been able to expand throughout the world, in the name of a way of conceiving furnishing not as strictly tied to the product but able to represent what is properly a lifestyle.</p>
      <br>
    </div>
    <div class="col-lg-6">
      <img src="http://ak8.picdn.net/shutterstock/videos/5353868/thumb/1.jpg" class="img-fluid">
    </div>
  </div>
</div>
<hr class="my-4">
