<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2> Our Web Site </h2>
      <p> Customer Stisfaction Ferniture Rentel Web Site Srilanka 2k18. We are Providing Best Compannys Fernituers Srilanka.</p>
      <p> We Have a Best Sellers Top Compannys Our Srilanka.</p><br>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
    <div class="col-lg-6">
      <img src="https://www.freedomfurniture.co.nz/images/assetimages/AW18/FNZ1553-AW18-Landing-Furniture-DT-Hor-Banner-880x395-Fabric-Sofa.jpg" class="img-fluid">
    </div>
  </div>
</div>
<hr class="my-4">
