<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

  <!--Footer Links-->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!--First column-->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size: 30px">Fernitur Rental</h6>
        <p>NO.1 Ferniture Rental Website Srilanka We Providing Fast And Satisfy Ferinituers Our Customers , We Have a Best Compannys Sellers Srilanka.</p>
      </div>
      <!--/.First column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Outher</h6>
        <p><a href="#!">Ferniture Rental Android App</a></p>
        <p><a href="#!">Facebook Group</a></p>
        <p><a href="#!">Our Sellers</a></p>

      </div>
      <!--/.Second column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p><a href="#!">Sellers</a></p>
        <p><a href="#!">Companys</a></p>
        <p><a href="#!">Dilivery</a></p>
        <p><a href="#!">Help</a></p>
      </div>
      <!--/.Third column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p><i class="fa fa-home mr-3"></i> No.127 Nidangala,Kotavila,Kaburugamuwa,Matara,Srilanka</p>
        <p><i class="fa fa-envelope mr-3"></i> Tharakacz823@gmail.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 94 77 911 28 86</p>
        <p><i class="fa fa-print mr-3"></i> N/A</p>
      </div>
      <!--/.Fourth column-->

    </div>
    <!-- Footer links -->

    <hr>

    <div class="row py-3 d-flex align-items-center">

      <!--Grid column-->
      <div class="col-md-8 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left grey-text">© 2018 Copyright: <a href="http://www.ijse.lk/"><strong> IJSE.com</strong></a></p>
        <!--/.Copyright-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 col-lg-4 ml-lg-0">

        <!--Social buttons-->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <!--/.Social buttons-->

      </div>
      <!--Grid column-->

    </div>

  </div>

</footer>
<!--/.Footer-->
