/**{*/
  /*position: relative;*/
/*}*/
/*.back{*/
  /*z-index: 15;*/

/*}*/

/*.input-container {*/
  /*display: -ms-flexbox; !* IE10 *!*/
  /*display: flex;*/
  /*width: 100%;*/
  /*margin-bottom: 15px;*/

/*}*/

/*.icon {*/
  /*padding: 10px;*/
  /*background: dodgerblue;*/
  /*color: white;*/
  /*min-width: 50px;*/
  /*text-align: center;*/
  /*border-radius: 20px;*/
/*}*/

/*.input-field {*/
  /*width: 100%;*/
  /*padding: 10px;*/
  /*outline: none;border-radius: 20px;*/
  /*border: none;*/
/*}*/

/*.input-field:hover{*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.0);*/
/*}*/

/*.input-field:focus {*/
  /*border: 2px solid dodgerblue;*/
/*}*/

/*!* Set a style for the submit button *!*/
/*.btn {*/
  /*background-color: dodgerblue;*/
  /*color: white;*/
  /*padding: 10px 15px;*/
  /*border: none;*/
  /*cursor: pointer;*/
  /*width: 100%;*/

  /*opacity: 0.9;*/
  /*border-radius: 20px;*/
  /*font-size: 18px;*/
/*}*/

/*.btn:hover {*/
  /*opacity: 1;*/
  /*background-color: rgba(115, 115, 115,0.85);*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.0);*/
/*}*/
/*.back{*/
  /*background: url("http://i.imgur.com/rshVZEt.jpg");*/
  /*position: fixed;*/
  /*width: 100%;*/
  /*height: 100%;*/
/*}*/
/*h2{*/
  /*text-align: center;*/
/*}*/
/*#title{*/
  /*color: white;*/
  /*font-weight: bold;*/
  /*font-size: 60px;*/
  /*position: fixed;*/
  /*left: 18%;*/
/*}*/

/*.form{*/
  /*background-color: rgba(255,255,255,0.50);*/
  /*z-index: 2;*/
  /*height: 680px;*/
  /*width: 32%;*/
  /*position: fixed;*/
  /*top: 15%;*/
  /*left: 35%;*/
  /*border-radius: 20px;*/
/*}*/
/*.form:hover{*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.0);*/
/*}*/
/*#sub{*/
  /*color: white;*/
  /*font-size: 45px;*/
  /*animation-name: sub;*/
  /*animation-duration: 20s;*/

  /*animation-iteration-count: infinite;*/
/*}*/
/*@keyframes sub {*/
  /*0%{ color: white}*/
  /*10%{color: #D9ADE6}*/
  /*20%{color: #D39AE3}*/
  /*30%{color: #CD8EDE}*/
  /*40%{color: #C579DA}*/
  /*50%{color: #BB58D8}*/
  /*60%{color: #F7ED3C}*/
  /*70%{color: #F4ED62}*/
  /*80%{color: #FFFA93}*/
  /*90%{color: #FBF7AD}*/
  /*100%{color: #F3F2D1}*/
/*}*/
/*img{*/
  /*position: fixed;*/
  /*width: 8%;*/
  /*height: 70px;*/
  /*left: 10.5%;*/
/*}*/

/*.main{*/
  /*position: fixed;*/
  /*top: 5%;*/
/*}*/
/*.eye:hover{*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.0);*/
/*}*/
/*.home{*/
  /*background-color: rgba(255, 166, 77,1);*/
/*}*/
/*.social {*/
  /*padding: 20px;*/
  /*font-size: 30px;*/
  /*width: 50px;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*margin: 5px 2px;*/


/*}*/
/*h6{*/
  /*color:white;*/
/*}*/

/*.fab{*/
  /*background: transparent;*/

/*}*/
/*.fab:hover{*/
  /*opacity: 0.7;*/
/*}*/
/*.fa-facebook {*/

  /*color: blue;*/
/*}*/
/*.fa-google-plus {*/

  /*color: red;*/
/*}*/
/*.fa-github{*/
  /*color: black;*/
/*}*/

/*.fa-linkedin-in {*/

  /*color: white;*/
/*}*/

/*.fa-youtube {*/

  /*color: red;*/
/*}*/
/*.fag{*/
  /*background-color: rgba(89, 89, 89,0.50);*/
  /*position: fixed;*/
  /*bottom: 0px;*/
  /*height: 10%;*/
  /*width: 100%;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*z-index: 2;*/
/*}*/

/*@media all and (min-width: 210px) and (max-width:520px) {*/
  /*#title {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 24px;*/
    /*position: fixed;*/
    /*left: 16%;*/
  /*}*/
  /*img{*/
    /*position: fixed;*/
    /*width: 18%;*/
    /*height: 30px;*/
    /*left: 1.5%;*/
  /*}*/
  /*#sub{*/
    /*color: white;*/
    /*font-size: 22px;*/

  /*}*/
  /*.form{*/
    /*background-color: rgba(255,255,255,0.50);*/
    /*z-index: 2;*/
    /*height: 620px;*/
    /*width: 90%;*/
    /*position: fixed;*/
    /*top: 20%;*/
    /*left: 6.5%;*/
    /*border-radius: 20px;*/
  /*}*/

  /*.input-container {*/
    /*display: -ms-flexbox; !* IE10 *!*/
    /*display: flex;*/
    /*width: 85%;*/
    /*margin-bottom: 15px;*/
    /*position: relative;*/
    /*left: 0.1%;*/
  /*}*/
  /*.btn {*/
    /*width: 90%;*/
    /*left: 6.2%;*/
    /*position: relative;*/
  /*}*/

  /*.fa-facebook {*/

    /*width: 10px;*/
    /*height: 10px;*/

  /*}*/
  /*.fa-google-plus {*/

    /*width: 10px;*/
    /*height: 10px;*/
  /*}*/
  /*.fa-github{*/
    /*width: 10px;*/
    /*height: 10px;*/
  /*}*/

  /*.fa-linkedin-in {*/

    /*width: 10px;*/
    /*height: 10px;*/
  /*}*/

  /*.fa-youtube {*/

    /*width: 10px;*/
    /*height: 10px;*/
  /*}*/

  /*h6{*/
    /*font-size: 15px;*/
  /*}*/
/*}*/
/*@media all and (min-width: 520px) and (max-width:768px){*/
  /*#title{*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 30px;*/
    /*position: fixed;*/
    /*left: 18%;*/
  /*}*/
  /*img{*/
    /*position: fixed;*/
    /*width: 10%;*/
    /*height: 32px;*/
    /*left: 8%;*/
  /*}*/
  /*#sub{*/
    /*color: white;*/
    /*font-size: 23px;*/

  /*}*/
  /*.form{*/
    /*background-color: rgba(255,255,255,0.50);*/
    /*z-index: 2;*/
    /*height: 620px;*/
    /*width: 55%;*/
    /*position: fixed;*/
    /*top: 20%;*/
    /*left: 26%;*/
    /*border-radius: 20px;*/
  /*}*/

  /*.input-container {*/
    /*display: -ms-flexbox; !* IE10 *!*/
    /*display: flex;*/
    /*width: 88%;*/
    /*margin-bottom: 15px;*/
    /*position: relative;*/
    /*left: 0.1%;*/
  /*}*/
  /*.btn {*/
    /*width: 92%;*/
    /*position: relative;*/
    /*left: 4.5%;*/
  /*}*/
/*}*/
/*@media all and (min-width: 768px) and (max-width:998px) {*/
  /*#title {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 40px;*/
    /*position: fixed;*/
    /*left: 18%;*/
  /*}*/
  /*img{*/
    /*position: fixed;*/
    /*width: 10%;*/
    /*height: 42px;*/
    /*left: 8%;*/
  /*}*/
  /*#sub{*/
    /*color: white;*/
    /*font-size: 30px;*/
    /*animation-name: sub;*/

  /*}*/
  /*.form{*/
    /*background-color: rgba(255,255,255,0.50);*/
    /*z-index: 2;*/
    /*height: 620px;*/
    /*width: 50%;*/
    /*position: fixed;*/
    /*top: 20%;*/
    /*left: 26%;*/
    /*border-radius: 20px;*/
  /*}*/

  /*.input-container {*/
    /*display: -ms-flexbox; !* IE10 *!*/
    /*display: flex;*/
    /*width: 90%;*/
    /*margin-bottom: 15px;*/
    /*position: relative;*/
    /*left: 1%;*/
  /*}*/
  /*.btn {*/
    /*width: 95%;*/
    /*position: relative;*/
    /*left: 3%;*/
  /*}*/
/*}*/
/*@media all and (min-width: 1024px) and (max-width:1336px) {*/
  /*#title {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*font-size: 50px;*/
    /*position: fixed;*/
    /*left: 16%;*/
  /*}*/
  /*img{*/
    /*position: fixed;*/
    /*width: 15%;*/
    /*height: 60px;*/
    /*left: 4%;*/
  /*}*/
  /*#sub{*/
    /*color: white;*/
    /*font-size: 40px;*/

  /*}*/
  /*.form{*/
    /*background-color: rgba(255,255,255,0.50);*/
    /*z-index: 2;*/
    /*height: 620px;*/
    /*width: 66%;*/
    /*position: fixed;*/
    /*top: 20%;*/
    /*left: 18%;*/
    /*border-radius: 20px;*/
  /*}*/

  /*.input-container {*/

    /*width: 100%;*/
    /*margin-bottom: 15px;*/
    /*position: relative;*/
    /*left: 1%;*/
  /*}*/
  /*.btn {*/
    /*width: 100%;*/
    /*position: relative;*/
    /*left: 2%;*/
  /*}*/
/*}*/
.container{
  /*width: 100%;*/
  /*height: 80%;*/
  /*background-color: white;*/
  /*z-index: 20;*/
  /*position: relative;*/
  /*border: black;*/

}
.register-form{

}

.popup{
  width: 60%;
  height: 60%;
  background-color: white;
  z-index: 20;
  position: absolute;

  margin: 0;
  padding: 0;
  left: 20%;
  top: 18%;
  background-image: url("http://hanslodge.com/images/rcjr5j6ni.jpg");

}

.popup:hover{
  box-shadow: rgba(228,228,228,1);
}

.btn{
  width: 15%;
  height: 50px;
  font-weight: bold;
  left: 42%;
  position: absolute;
}

.animates {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s

}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.model{
  overflow: auto;
  position: fixed;
}
